<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV Adega</title>
    <link rel="stylesheet" href="tela_inicial.css">
</head>
<body>
    <div class="container">
        <header class="topbar">
            <div class="logo"> Adega Premium </div>
            <nav class="menu">
                <a href="#">Ponto de Vendo</a>
                <a href="#">Histórico de Vendas</a>
                <a href="#">Gerenciamento de Produtos</a>
            </nav>
        </header>

        <main class="main-content">
            <section class="products-section">
                <input type="text" placeholder="Buscar produtos">
                <div class="categories"></div>
                <div class="products-grid"></div>
            </section>
            <aside class="cart">
                <h2>Carrinho</h2>
            </aside>
        </main>

    </div>
    
</body>
</html>