<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Adega PDV</title>

    <!-- CSS -->
    <link rel="stylesheet" href="tela_login.css">
</head>

<body>

    <div class="login-container">

        <!-- IMAGEM -->
        <img src="https://cdn-icons-png.freepik.com/256/15806/15806712.png?semt=ais_white_label" alt="Logo" class="logo-img">

        <!-- TITULO -->
        <h1>Bem-vindo</h1>

        <!-- TEXTO -->
        <p>Sistema PDV - Adega</p>

        <!-- INPUT USUARIO -->
        <div class="input-group">
            <label>E-mail ou Usuário</label>
            <input type="text" placeholder="Digite seu e-mail">
        </div>

        <!-- INPUT SENHA -->
        <div class="input-group">
            <label>Senha</label>
            <input type="password" placeholder="Digite sua senha">
        </div>

        <!-- BOTÃO -->
        <a href="tela_inicial.html" class="login-btn">
            Entrar
        </a>

        <!-- LINK -->
        <a href="#" class="forgot">
            Esqueceu a senha?
        </a>

        <!-- TEXTO FINAL -->
        <div class="footer-text">
            Sistema de Ponto de Venda v1.0
        </div>

    </div>

</body>

</html>